/* You can add global styles to this file, and also import other style files */
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
}
#header{
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}
#wrapper {
    min-height:100%;
    position:relative;
 }
 a:link, a:visited, .nav-link{
    text-decoration: none;
    color:#777777 !important;
    font-weight: 600;
    transition: 1s;
}
a:hover, .nav-link:hover{
    color:#004282 !important;
}

.nav-link:hover{
    background-color: #efefef;
}
.list-group-item{
    border: none;
}
.list-group-item-action{
    width:fit-content;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;  /* Height of the footer */
    border-top: 1px solid #efefef;
    padding-top: 15px;
}
footer p{
    font-size: small;
}