<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-5">Live Cryptocurrency Prices</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <th>
                            Name
                        </th>
                        <th style="width:75px;"></th>
                        <th class="tdr">
                            Price
                        </th>
                        <th class="tdr">
                            24h %
                        </th>
                        <th class="tdr">
                            7d %
                        </th>
                        <th class="tdr">
                            Market Cap <i class='bx bx-info-circle'  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Circulating Supply<br>x<br>Current Price<br>(Billions of dollars)"></i>
                        </th>
                        <th class="tdr">
                            Volume(24h) <i class='bx bx-info-circle'  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Traded Volume<br>Last 24h<br>(Millions of dollars)"></i>
                        </th>
                        <th class="tdr">
                            Circulating Supply
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asset of assets; let rowIndex=index" (mouseover)="visibility[rowIndex]=false;" (mouseout)="visibility[rowIndex]=true;">
                        <td class="assetLogo"><img [src]="asset.logo_url" height="20px" alt=""></td>
                        <td> <a  [routerLink]="['/history']" [queryParams]="{symbol:asset.symbol}"> {{asset.name}} {{asset.symbol}} </a> </td>
                        <td>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item list-group-item-action"><a [routerLink]="['/buy']" [hidden]="visibility[rowIndex]" [queryParams]="{symbol:asset.symbol}"> Buy</a></li>
                            </ul>
                        </td>
                        <td class="tdr">
                            {{asset.price | currency}}
                        </td>
                        <td [style] = "asset.d1.price_change_pct>0?'color:#16c784':'color:#9D0800'" class="tdr">
                            {{asset.d1.price_change_pct |  percent: '0.2-2'}}
                        </td>
                        <td [style] = "asset.d7.price_change_pct>0?'color:#16c784':'color:#9D0800'" class="tdr">
                            {{asset.d7.price_change_pct |  percent: '0.2-2'}}
                        </td>
                        <td class="tdr">
                            {{(asset.market_cap)/1000000000 | currency}} B
                        </td>
                        <td class="tdr">
                            {{asset.d1.volume/1000000  | currency}} M
                        </td>
                        <td class="tdr">
                            {{asset.circulating_supply/1000000 | number}} M {{asset.symbol}}
                        </td>
                        
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<div style="height: 100px;">

</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Login</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-login></app-login>
    </div>
  </div>
