<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="mb-3">
        <label   for="username">Username</label>
        <input class="form-control" id="username" name="username" type="string" [(ngModel)]="username">
      </div>
      <div class="mb-3">
        <label class="col-sm-2" for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" [(ngModel)]="password">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <div>
        <div class="alert alert-danger" role="alert" *ngIf="fail">
            Username or Password incorrect. Please try again.
        </div>
    </div>
  </div>
</div>