<header id="header" class="align-items-center">
  <div class="news">
    <app-news></app-news>
  </div>
  <div class="container pt-1">
  <app-navbar></app-navbar>
  </div>
</header>

<section id="content" class="mt-5">

<router-outlet></router-outlet>


</section>
<footer class="mt-5">     
        <div class="container">
            <div class="row">
                <div class="col-md-12">                   
                    <p>2021 &copy; - All rights and lefts well placed.</p>
                </div>
            </div>
        </div>
    </footer>