<header id="header" class="align-items-center">
  <div class="news">
    <app-news></app-news>
  </div>
  <div class="container pt-1">
  <app-navbar></app-navbar>
  </div>
</header>

<section id="content" class="mt-5">
<router-outlet></router-outlet>
</section>
<footer class="mt-5">     
        <div class="container">
            <div class="row">
                <div class="col-md-12">                   
                    <p>2021 &copy; - All rights and lefts well placed.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Log in to Crypto Capitol</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <app-login></app-login>
      </div>
    </div>